{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head" style="background-image: url({{.Params.image}})">
  {{ else }}
  <header class="main-header post-head" style="background-image: url({{ $baseurl }}{{.Params.image}})">
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
  <nav class="main-nav clearfix">
{{end}}

  {{ if .Site.Params.logo }}
      <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Home" /></a>
  {{end}}
  {{ if .Site.Menus.main }}
      <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
  {{else}}
      <a class="menu-button icon-feed" href="{{ .Site.BaseURL }}index.xml">&nbsp;&nbsp;Subscribe</a>
  {{end}}
  </nav>
</header>



<main class="content" role="main">




  <article class="post {{ .Section }}" style="border:none;">

    <header class="post-header">
        <h1 class="post-title">{{.Title}}</h1>
        <small>{{.Description}}</small>

        <section class="post-meta">
            <img class="tags-thumb" src="{{$baseurl}}images/tags.png" alt="Tags image" nopin="nopin" />
       {{ range .Params.tags }}
            <a href="{{$baseurl}}tags/{{ . | urlize }}/">{{ upper . }}</a>
       {{ end }}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
        </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>


  <footer class="post-footer">

    {{ partial "author.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
</article>

</main>
{{ partial "suggestions.html" . }}

{{ partial "footer.html" . }}
